@font-face {
  font-family: Poppins-Regular;
  src: url(./fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(./fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(./fonts/poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(./fonts/poppins/Poppins-Light.ttf);
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins-Regular";
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  color: #3d3d3d;
}
* {
  text-decoration: none;
  box-sizing: border-box;
}
.header {
  width: 100%;
  display: flex;
  padding: 1.2rem 0.7rem 1.2rem 2rem;
  flex-direction: column;
  /* place-items: center; */
  /* background-color: rgb(255, 127, 107); */
  background-color: #011b33;
  border-bottom-left-radius: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .logo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 560px) {
  .header .logo {
    gap: 0rem;
  }
}
.header .logo .xtra {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
}
@media screen and (max-width: 750px) {
  .header .logo .xtra {
    display: none;
  }

  .l-btn:nth-of-type(2) {
    display: none;
  }
}
.header .logo .xtra a {
  color: white;
  font-size: 0.76rem;
}
.header .logo .xtra a .p-tag .p-tag-value {
  line-height: 8px;
  padding: 0.1rem 0.1rem !important;
}
.text {
  font-family: "Poppins-Light";
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
}
.text h3 {
  margin: 0;
  font-size: 1.7rem;
  font-family: "Poppins-Regular";
}
.l-btn {
  border: none;
  padding: 0.7rem 1.5rem;
  background: transparent;
  border-radius: 50px;
  /* border: 1px solid white; */
  margin-top: 1rem;
  color: white;
  cursor: pointer;
  transition: 0.2s all ease-in;
  margin: 0;
}
.l-btn:first-of-type {
  margin: 0 0 0 auto;
}
.l-btn:nth-of-type(2) {
  border: 1px solid #f4f4f4;
  margin-right: 0.6rem;
}
.l-btn:hover {
  /* background: white; */
  color: #eee;
  border-color: #cacaca;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin: 0.3rem 0;
}
nav a {
  padding: 0.7rem;
  color: #3d3d3d;
  font-size: small;
}
nav a.active {
  background-color: #475569;
  color: #fff;
  border-bottom-right-radius: 20px;
}

.c-menu {
  display: none !important;
}
@media screen and (max-width: 750px) {
  .c-menu {
    display: inline-block !important;
  }
}
.p-sidebar-content .xtra {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
}
.m-0 {
  margin: 0 !important;
}
.mb-1 {
  margin-bottom: 0.5rem !important;
}
.no-shadow {
  box-shadow: none !important;
}
.flex {
  display: flex;
  gap: 0.5rem;
}
.no-wrap {
  flex-wrap: nowrap;
}
.w-100 {
  width: 100%;
}
.pi-trash {
  cursor: pointer;
}

/* login section */
.login__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-cont {
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    background-color: #012241;
    padding: 2rem 1rem;
    border-radius: 10px;

    img {
      padding-bottom: 0.5rem;
    }
    input {
      width: 100%;
    }
    label {
      font-weight: 500;
      font-family: "Poppins-Medium";
      color: white;
    }
    .l-btn {
      width: 100%;
      margin-top: 0.4rem;
    }
  }
}
