.event-card {
  padding: 2rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.p-inputtext,
.p-dropdown,
.p-calendar,
.p-multiselect {
  width: 100%;
}
.p-dialog {
  @media screen and (max-width: 1000px) {
    width: 50% !important;
  }
  @media screen and (max-width: 700px) {
    width: 70% !important;
  }
  @media screen and (max-width: 500px) {
    width: 95% !important;
  }
}
.people-card {
  //   background-color: rebeccapurple;
  //   width: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .peep {
    // padding: 1rem;

    .content {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 0.5rem 0;

      .p-avatar {
        min-width: 3rem;
      }
      .details {
        width: auto;

        p,
        small {
          margin: 0;
          text-transform: capitalize;
        }
      }
    }
    .p-card-foote {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
  .cf {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0.5rem 0.5rem 0.7rem;
    margin-top: -1rem;
  }
}

.__events {
  display: flex;
  gap: 1rem;

  @media screen and (max-width: 900px) {
    // flex-wrap: wrap;
    flex-direction: column;
  }
  .people {
    flex-shrink: 1;
    flex-grow: 1;
    // flex-basis: 30%;
    max-width: 400px;
  }
  .tasks {
    flex: 1;

    .tasks-card {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .tasks-body {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
        padding: 0.7rem;
        flex-wrap: wrap;
        min-width: 250px;
        @media screen and (min-width: 1000px) {
          min-width: 400px;
        }
        @media screen and (min-width: 1200px) {
          min-width: 600px;
        }
        .task-content {
          //   width: auto;
          max-width: 200px;
          min-width: 200px;
          //   background-color: red;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          @media screen and (max-width: 900px) {
            min-width: 100%;
          }
        }
        .avatar-group {
          display: flex;
          max-width: 50px;
          min-width: 50px;

          //   .p-component,
          .p-component span {
            // margin-left: -0.3rem;
            font-size: small;
          }
        }
        .progress {
          min-width: 150px;
          max-width: 150px;
        }
        .status {
          display: flex;
          flex: 1;
          button {
            flex: 1;
            font-size: small;
          }
        }
      }
    }
  }
}
a {
  color: #5a5a5a;
}
.p-progressbar-label {
  font-size: small;
}
.__s-event {
  flex: 1;
  flex-basis: 400px;
  // width: 100%;
  small {
    display: block;
    margin: 0.9rem 0 0.3rem;
    color: #6a6a6a;
  }
  .slider {
    margin: 0.5rem 0;

    input {
      margin-top: 10px;
    }
  }
  .people {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    .p-multiselect {
      width: 250px;
    }
  }
  .p-dropdown {
    width: 150px;
  }
}
.__s_person {
  flex: 1;
  flex-basis: 300px;

  .p-multiselect {
    max-width: 200px;
  }
}
